@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #18191A;
  --secondary: #242526;
  --tertiary: #3A3B3C;
  --accent: #194759;
  --foreground: #171717;
}

html {
  background-color: var(--secondary);
  color: white;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
}

h1 {
  @apply text-3xl
}

p {
  @apply text-base
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}